{% extends 'layouts/base.html.twig' %}

{% block title %}Agence - Properties{% endblock %}

{% block body %}
    <main id="main">
        {{ include('Property/partials/intro_single.html.twig ') }}
    </main>
{% endblock %}
